<h2> <%= @card.question %> </h2>
<br>

<form name="guessForm" action="/rounds/<%=@round.id%>" method="POST">
  <input type="text" name="answer" placeholder="Answer" id="answer-textbox">
  <input type="hidden" name="card_id" value="<%= @card.id %>">
  <div id="answer" style="display:none"><%= @card.answer %></div>
  <button onClick="javascript:check_answer(); return false;">Submit</button>
</form>


<script language="JavaScript">
  function ajax_call() {
    $.ajax({
      url: "/rounds/<%= @round.id %>",
      method: "POST",
      data: { card_id: <%= @card.id %>,
              answer: document.guessForm.answer.value,
              remote: true },
      dataType: "html"
    })
    .done(function( html ) {
      $('.content-container').html( html );
    });
  }

  function check_answer() {
    $('#answer').css("display", "inline");
    setTimeout(ajax_call(), 1500)
  }

  window.onload = function() {
    $('#answer-textbox').focus();
  }
</script>

