<div id='user_dashboard'>
  <h1>Dashboard</h1>
    <div id='profile'>
      <h2><%= @user.name %></h2>
      <h3>My Decks</h3>
      <ul>
      <% @user.decks.each do |deck| %>
        <li class='user_attributes'><a href='deck/<%= deck.id %>'><%= deck.topic %></a></li>
      <% end %>
      <%= erb :'users/_stats', locals: { user_rounds: @user.rounds } %>
    </div>
    <%= erb :'users/_all_decks', locals: { all_decks: Deck.all } %>
</div>

